# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
pipeline.md
TODO.md
log_2024_06_24_15_51.md
/work_logs
/trash

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/public/dev/

# misc
.DS_Store
*.pem
replicate.mjs

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/public/amols.mp3
