@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}


/* HTML: <div class="loader"></div> */
/* .loader {
  width: 50px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side,#4276fa 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
} */




/* HTML: <div class="loader"></div> */
.loader {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #373737;
  color: #373737;
  animation: loader 1s infinite linear alternate;
  animation-delay: 0.5s;
}
.loader::before, .loader::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.loader::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #373737;
  color: #373737;
  animation: loader 1s infinite alternate;
  animation-delay: 0s;
}
.loader::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #373737;
  color: #373737;
  animation: loader 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes loader {
  0% {
    background-color: #373737;
  }
  50%, 100% {
    background-color: rgba(152, 128, 255, 0.2);
  }
}